<div class="container custom-container-2">
    <div class="col-md-12 ">
        <div class="modal-body">
            <div class="card country-border">

                <div class="card-body">
                    <p class="card-title"><b>ID : </b>{{ userList.data.id }}</p>
                    <p class="card-text"><b>Name : </b>{{ userList.data.first_name }} {{ userList.data.last_name }}</p>
                    <p class="card-text"><b>Email : </b>{{ userList.data.email }}</p>
                    <button  class="btn btn-outline-dark"  routerLink="/users">Go To List</button>
                </div>
            </div>
        </div>
    </div>
</div>